.pixel {
  background: #FFFFFF;
  border: 0px solid #2222;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
  width: 5px;
  height: 5px;
}

.board {
  padding: 10px;
  background: #2222;
  border: 5px solid #2222;
  overflow: hidden;
}
